{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-business-central-connector" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-business-central-connector" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-sync" data-toggle="tab">{{ tab_sync }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="alert alert-info">
                                <p><strong>{{ text_info }}</strong></p>
                                <ul>
                                    <li>{{ text_info_li1 }}</li>
                                    <li>{{ text_info_li2 }}</li>
                                    <li>{{ text_info_li3 }}</li>
                                    <li>{{ text_info_li4 }}</li>
                                    <li>{{ text_info_li5 }}</li>
                                    <li>{{ text_info_li6 }}</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="module_business_central_connector_status" id="input-status" class="form-control">
                                        {% if module_business_central_connector_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_client_id"><span data-toggle="tooltip" title="{{ help_client_id }}">{{ entry_client_id }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_business_central_connector_client_id" value="{{ module_business_central_connector_client_id }}" placeholder="{{ entry_client_id }}" id="input_client_id" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_client_secret"><span data-toggle="tooltip" title="{{ help_client_secret }}">{{ entry_client_secret }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_business_central_connector_client_secret" value="{{ module_business_central_connector_client_secret }}" placeholder="{{ entry_client_secret }}" id="input_client_secret" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_redirect_url"><span data-toggle="tooltip" title="{{ help_redirect_url }}">{{ entry_redirect_url }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_business_central_connector_redirect_url" value="{{ module_business_central_connector_redirect_url }}" placeholder="{{ entry_redirect_url }}" id="input_redirect_url" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-company"><span data-toggle="tooltip" title="{{ help_company }}">{{ entry_company }}</span></label>
                                <div class="col-sm-10">
                                    <select name="module_business_central_connector_company" id="input-company" class="form-control">
                                        {% if module_business_central_connector_company %}
                                            <option value="{{ module_business_central_connector_company.id }}" selected>{{ module_business_central_connector_company.displayName }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="module_business_central_connector_url_authorize" value="https://login.windows.net/common/oauth2/authorize?resource=https://api.businesscentral.dynamics.com" />
                            <input type="hidden" name="module_business_central_connector_url_accesstoken" value="https://login.windows.net/common/oauth2/token?resource=https://api.businesscentral.dynamics.com" />
                            <div class="pull-right">
                                <a href="{{ token }}" target="_blank" class="btn btn-warning">{{ button_token }}</a>
                                <button class="btn btn-info" id="btn_company">{{ button_companies }}</button>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-sync">
                            <div class="alert alert-warning">
                                <p><strong>{{ text_sync_info }}</strong></p>
                                <ul>
                                    <li>{{ text_info_li7 }}</li>
                                    <li>{{ text_info_li8 }}</li>
                                    <li>{{ text_info_li9 }}</li>
                                </ul>
                            </div>
                            <input type="hidden" name="item_id" id="hidden_item_id">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_search_by_item_number">{{ entry_item_number }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="search_by_item_number" placeholder="{{ entry_item_number }}" id="input_search_by_item_number" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_search_by_item_name">{{ entry_item_name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="search_by_item_name" placeholder="{{ entry_item_name }}" id="input_search_by_item_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_unit_price">{{ entry_unit_price }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="unit_price" placeholder="{{ entry_unit_price }}" id="input_unit_price" class="form-control" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_quantity">{{ entry_quantity }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="quantity" placeholder="{{ entry_quantity }}" id="input_quantity" class="form-control" readonly/>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-warning" id="btn_sync_one">{{ button_sync_one }}</button>
                                <button type="button" class="btn btn-info" id="btn_sync_all">{{ button_sync_all }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<script type="application/javascript">
    $("#btn_company").on("click", function() {
        $.ajax({
            url: 'index.php?route=extension/module/business_central_connector/getCompanies&user_token={{ user_token }}',
            dataType: 'json',
            success: function(json) {
                html = '<option value="0">{{ text_select_company }}</option>';

                if (json) {
                    for (i = 0; i < json.length; i++) {
                        html += '<option value="' + json[i]['id'] + '"';

                        html += '>' + json[i]['displayName'] + '</option>';

                        $('select[name=\'module_business_central_connector_company').html(html);
                    }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $("#btn_sync_all").on("click", function() {
        $.ajax({
            url: 'index.php?route=extension/module/business_central_connector/sync&user_token={{ user_token }}&type=syncAll',
            type: 'POST',
            success: function(json) {
                if (json['success']) {
                    $('#tab-sync').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                if (json['error']) {
                    $('#tab-sync').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $("#btn_sync_one").on("click", function() {
        $.ajax({
            url: 'index.php?route=extension/module/business_central_connector/sync&user_token={{ user_token }}&type=syncOne',
            data: {'item_id': $("#hidden_item_id").val(), 'item_number': $("#input_search_by_item_number").val(), 'item_name': $("#input_search_by_item_name").val(), 'unit_price': $("#input_unit_price").val(), 'quantity': $("#input_quantity").val()},
            dataType: 'json',
            type: 'POST',
            success: function(json) {
                if (json['success']) {
                    $('#tab-sync').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                if (json['error']) {
                    $('#tab-sync').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('input[name=\'search_by_item_number\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=extension/module/business_central_connector/autoComplete&user_token={{ user_token }}&filter_number=' + encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['display'],
                            value: item
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            console.log(item);
            $('input[name=\'item_id\']').val(item['value']['id']);
            $('input[name=\'search_by_item_number\']').val(item['value']['number']);
            $('input[name=\'search_by_item_name\']').val(item['value']['displayName']);
            $('input[name=\'unit_price\']').val(item['value']['unitPrice']);
            $('input[name=\'quantity\']').val(item['value']['inventory']);
        }
    });

    $('input[name=\'search_by_item_name\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=extension/module/business_central_connector/autoComplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['display'],
                            value: item
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            console.log(item);
            $('input[name=\'item_id\']').val(item['value']['id']);
            $('input[name=\'search_by_item_number\']').val(item['value']['number']);
            $('input[name=\'search_by_item_name\']').val(item['value']['displayName']);
            $('input[name=\'unit_price\']').val(item['value']['unitPrice']);
            $('input[name=\'quantity\']').val(item['value']['inventory']);
        }
    });
</script>
